<h1> Stupid coaching </h1>

<div class="col-md-6 mt-4 p-3">
<div class="callout">
<p> <%=@question %></p>
<p> You </p>
</div>
<div class="callout_yellow">
<p> <strong><%=@answer %> </strong></p>
<p> Your coach </p>
</div>
<%= link_to "Ask a new question", ask_path %>
</div>
