<h1 class="p-4"> Stupid coaching </h1>


<form action="/answer" data-turbo="false" class="px-4" >
  <label for="question">Ask your coach anything</label>
  <div class="input-group mb-3">
    <input type="text" id="question" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
